<style type="text/css" rel="stylesheet">
  @import url("/public/dashboard.css");
</style>

<div class="user">
  <p>Welcome <%= user.name %>
  </p>
</div>
<div class="btns">
  <a class="btn btn-primary" href="/dashboard/new">New</a>
  <a href="/users/logout">Logout</a>
</div>
<% if(datas==null || datas.length==0){ %>
<% } %>
<div class="row">
<% datas.forEach(function(data) { %>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <a href="/dashboard/<%= data._id %>">
          <div class="ellipsis"><strong><%= data.title %></strong></div>
        </a>
      </div>
      <div class="card-body">
        <p class="card-text"><%= data.memo %></p>
      </div>
      <div class="card-footer text-muted"><%= data.createdAt %></div>
    </div>
  </div>
<% }) %>
</div>